<!-- Footer -->

<footer id="footer" style="background: #222; color: #fff; padding-top: 30px;">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-2 col-xs-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="ftr-1 text-center">
					<a href="index.html"><img class="img-responsive" src="/assets/img/ftr-logo.png" alt="Soukhya Homes Logo" style="margin:0 auto; max-width:110px;"></a>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="ftr-2">
					<h4 style="color:#00b894;">About Us</h4>
					<p>Registered under the Indian Companies Act 2013, Soukhya Homes LLP has its registered office at Kottappady in the Ernakulam district of Kerala.</p>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="ftr-3">
					<h4 style="color:#00b894;">Links</h4>
					<p><a href="index.html">Home</a></p>
					<p><a href="about.html">About</a></p>
					<p><a href="infrastructure.html">Infrastructure</a></p>
					<p><a href="facilities.html">Facilities</a></p>
					<p><a href="gallery.html">Gallery</a></p>
					<p><a href="events.html">Events</a></p>
					<p><a href="reviews.html">Reviews</a></p>
					<p><a href="contact.html">Contact</a></p>
				</div>
			</div>
			<div class="col-md-2 col-sm-2 col-xs-12 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="ftr-4">
					<h4 style="color:#00b894;">Contact Us</h4>
					<p><b>Soukhya Homes LLP.</b><br>Kottappady, Kothamangalam,<br>Ernakulam-686692 <br>+91 9946807428<br>+91 9447218356<br>+91 9446843367<br><a href="mailto: soukhyahomes@gmail.com">soukhyahomes@gmail.com</a></p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
				<div class="ftr-5 text-center">
					<h4 style="color:#00b894;">Our Architect</h4>
					<a href="index.php"><img src="/assets/img/ftr-logo.jpg" width="180" height="80" style="border-radius:12px; margin:0 auto;"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom" style="background:#111; padding:12px 0; margin-top:20px;">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<p style="margin:0; color:#bbb;">&copy; 2023 Soukhya Homes.</p>
				</div>
				<div class="col-sm-6 text-right">
					<!-- Social icons -->
					<a href="https://www.facebook.com/Soukya-Homes-LLP-110825800632809" style="color:#fff; margin-right:10px;"><i class="fab fa-facebook fa-lg"></i></a>
					<a href="https://instagram.com/soukhyahomes?igshid=16t0dnr02lrb1." style="color:#fff; margin-right:10px;"><i class="fab fa-instagram fa-lg"></i></a>
					<a href="https://api.whatsapp.com/send?1=pt_BR&amp;phone=+919946807428" style="color:#fff; margin-right:10px;" title="Message us now" target="_blank"><i class="fab fa-whatsapp fa-lg"></i></a>
				</div>
			</div>
		</div>
	</div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
