<head>
    <meta charset="UTF-8">
    <title>Soukhya Homes</title>
    <link rel="icon" type="/assets/img/fav-icon.png" href="/assets/img/fav-icon.png">

    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/css/animate.min.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/lightbox.css" rel="stylesheet">
    <link href="/assets/css/main.css" rel="stylesheet">
    <link id="css-preset" href="/assets/css/presets/preset1.css" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
</head>