<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
    {% include nav.html %}

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs-about" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>About</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>About</li>
                </ol>
            </div>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ============= About section Start ============= -->



    <section id="about-us">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-md-6 col-sm-6 col-xs-12">
                    <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <img src="/assets/img/2smiles_1.jpg">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="about-right">
                        <div class="row wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h4>Welcome to Soukhya Homes</h4>
                            <h2><span>Soukhya </span> Retirement Living</h2>
                            <p style="font-weight:600; font-size:1.6em;">Our Vision</p>

                        </div>

                        <div class="row abt-btm1 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <div class="col-12 about-right-txt">

                                <p>Far off from the madding crowd amid panoramic scenes comfortable stay with community
                                    life style for those destined to isolation and frightening solitude. </p>
                            </div>

                            <div class="col-12 about-right-txt">

                                <p>COMMUNITY LIVING FOR SENIOR CITIZEN Retirement is the beginning of a new phase in
                                    life aiming at serene, calm and peaceful atmosphere. In soukhya villas it is
                                    envisaged to develop community living for senior citizens with all luxury and safety
                                    measures.</p>
                            </div>

                            <div class="col-12 about-right-txt">

                                <p>LOCATION 'Soukhya Villas' meaning comfortable village life is beside a natural stream
                                    at Kottappady near Kothamangalam in Ernakulum district with easy access to Airport,
                                    Railway Station and High ranges. It is surrounded by wonderful scenes with Nature's
                                    healing touch. Be with Nature and one with Nature at Soukhya Villas. </p>
                            </div>

                            <div class="col-12 about-right-txt">
                                <h4>SURROUNDING</h4>
                                <ul style="list-style: square;">
                                    <li>Sufficient parking area for residents, guests and visitors. </li>
                                    <li>Fully landscaped yard with walkway developed like a resort refreshes mind. </li>
                                    <li>An organic fruit garden developed offers inmates opportunity to enjoy nurturing
                                        of trees and plucking fruits. </li>
                                    <li>Inmates can relax besides a fish pond and enjoy feeding fishes </li>
                                    <li>A gossiping area also provided to relax in the free times of evening </li>
                                </ul>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- ============= About section End ============= -->



    <!-- ======= Promoters Section ======= -->
    <section id="promoters">
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="section-title" data-aos="fade-up">
                        <h2><span>PROMOTERS </span> OF THE PROJECT</h2>
                        <!--<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>-->
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>BABY C M</h5>
                        <p>Managing Partner, City Hardware, Kottappady </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>BINU ERAMBATHU</h5>
                        <p>Managing Director, Erambathu Group.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>BINSON MATHEW</h5>
                        <p>Managing Director, Academy for catering technology, Ernakulam</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>DR. SABU PAUL MD</h5>
                        <p>Consultant Physician</p>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>DR. VIJITH V NAGELIL</h5>
                        <p>Executive Director, Nangelil Ayurveda Medical College; Managing Director, Nangelil Hospital &
                            Nangelil Pharmacy, Kothamangalam.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>DR.JOY T I</h5>
                        <p>Consultant Physician</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>GEORGE C O</h5>
                        <p>Prof. & former Head, dept of chemistry, MA college, Kothamagalam </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>GEORGE O V</h5>
                        <p>Consulting interior designer</p>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>JOBY GEORGE</h5>
                        <p> Employed in UK</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>KEMTHOSE P PAUL (DR)</h5>
                        <p>Director of MBA,Mar Baselios Institute of Technology and Science(MBITS)</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>MANOJ M JOSEPH</h5>
                        <p>Managing Partner, Malanad Passion Fruit, Kothamangalam </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>MATHEWS M PAUL (DR)</h5>
                        <p>Prof. & former Head, Civil Engineering Department, MA College of Engineering, Kothamangalam.
                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>MANJU PETER</h5>
                        <p>Managing Director,Nursing Home in UK</p>
                    </div>
                </div>


                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>PAULOSE K C</h5>
                        <p>Rtd. Principal, Mar Elias HSS, Kottappady </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>PAULOSE KARIPRA</h5>
                        <p>Govt. Construction contractor </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>PAULOSE M M (DR)</h5>
                        <p>Retd. Principal,MBITS College of Engineering</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>PAULOSE O VARGHESE</h5>
                        <p>Managing Director, Fourtech Systems, Mumbai </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>PETER ABRAHAM</h5>
                        <p>Sr. Vice President(Rtd), Reliance Industries, Gujarat </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>P RAVINDRAN</h5>
                        <p>Retd.Electrical Engineer </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>ROY N MATHEWS (DR)</h5>
                        <p>Retd.Head of Mechanical Engg. Department, MBITS College of Engineering </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>ROY VARGHESE</h5>
                        <p>RTD. DIG of Registration, Govt of Kerala </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>SAJI C B (DR)</h5>
                        <p>Chairman, Province Academy of Career Education</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>SAJI JOHN</h5>
                        <p>Sr. Manager, Petrofac,Sharja,UAE </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>SHERLY SUNNY KUTTY</h5>
                        <p>Director, Supreme Allied Services Pvt.Ltd. Mumbai.</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>SOJAN LAL P (DR)</h5>
                        <p>Principal, MBITS (Engineering College), Kothamangalam</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>SHOY KURIAKOSE</h5>
                        <p>Managing Director, Nursing Home in UK</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>SURESH K K</h5>
                        <p>Engineer turned Planter</p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="card">
                        <h5>VINCENTT P D</h5>
                        <p>Managing Partner SVJS and Associates Company Secretaries, Kochi. </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>