<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>

    {% include nav.html %}

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs-fclty" class="breadcrumbs">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Facilities</h2>
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li>Facilities</li>
                </ol>
            </div>
        </div>
    </section>

    <!-- End Breadcrumbs -->



    <!-- ======= Common facilities Section ======= -->


    <!-- End Common facilities Section -->


    <!-- ============= Contact section Start ============= -->
    <section class="facility-top">
        <div class="container text-center">

            <div class="row wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>Soukhya Retirement Living</h4>
                <h2><span>Facilities</span> at Soukhya</h2>

            </div>

            <div class="row justify-content-center" data-aos="fade-up">
                <div class="col-lg-12">
                    <p>Accommodation is provided in Luxury Studio Apartments / Villas with fully furnished
                        air-conditioned bedroom with twin bed, furnished drawing room and kitchenette with refrigerator,
                        microwave oven and kettle, toilet with hot water and grab bar and balcony with full view of
                        luscious greenery. </p>
                    <p>Fully landscaped yard with walkway, an organic fruit garden, fish pond, parking area for
                        residents, restaurant like dining area and food of your choice, well equipped fitness centre
                        with separate zone for yoga and meditation, library & reading room, indoor and outdoor game
                        zones, doctor & clinic, ayurveda wellness centre, gossip zone, laundry services and round the
                        clock security. </p>
                </div>
                <div class="col-sm-6 about-right-txt">
                    <h4><span>Daycare Facility</h4>
                    <p>Soukhya provides daycare facility for parents of employees who do not want to keep their parents
                        alone at home when they go employment. </p>
                </div>

                <div class="col-sm-6 about-right-txt">
                    <h4><span>Ayurveda Wellness centre</h4>
                    <p>An Ayurvedic wellness centre is functioning in the campus for providing services of trained
                        ayurvedic practioners and doctor.</p>
                </div>

                <div class="col-sm-6 about-right-txt">
                    <h4>Energy Charges</h4>
                    <p>Normal usage of energy is free for the inmates.</p>
                </div>

                <div class="col-sm-6 about-right-txt">
                    <h4>Laundry Service</h4>
                    <p>Free centralized laundry service is made available to ensure the hygienic living in the villas.
                    </p>
                </div>
            </div>
        </div>




    </section>

    <!-- ============= Contact section Start ============= -->

    <!-- ============= Contact section Start ============= -->

    <section id="contact" class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12" style="background-color:#ffffffe0; padding:30px;">
                    <div class="row col-sm-10 col-sm-offset-1 wow fadeInRight" data-wow-duration="1000ms"
                        data-wow-delay="300ms">

                        <div class="about-right">
                            <div class="row wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <h4>Soukhya Retirement Living</h4>
                                <h2><span>Facilities </span> on Demand</h2>
                                <p style="padding:5% 0%; color:#000;">Through our tailor made services and need based
                                    features, we serve our passion and help everyone to lead a wholesome, active and
                                    joyful time with us.</p>

                            </div>

                            <div class="row abt-btm wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">

                                <div class="col-12 about-right-txt">
                                    <h4>Travel to city</h4>

                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Hospitalisation</h4>

                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Wheel Chair</h4>

                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Full time nursing</h4>

                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Picnics</h4>
                                </div>


                                <div class="col-12 about-right-txt">
                                    <h4>Ticket Booking</h4>

                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Guest room | Guest house</h4>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Any additional facility in the room</h4>

                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Pickups and droppings for travel</h4>

                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Treasury service • Banking</h4>

                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Purchases/Shopping</h4>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <p style="color:#75b482; font-size:1.5em;margin-top:1em;">TREATMENT</p>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Allopathic</h4>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Ayurveda (massage)</h4>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Nutrition advise facility</h4>

                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Homeopathic</h4>

                                </div>

                            </div>

                            <div class="row abt-btm wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                                <div class="col-12 about-right-txt">
                                    <h4>Amazing atmosphere</h4>
                                    <p style="color:#000;">Situated in the middle of a panoramic surrounding. Calm
                                        ambience with singing of birds. Full campus is planted with fruit trees and
                                        green natural lawns. It is an excellent place for relaxed living.</p>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Vehicle & Driver</h4>
                                    <p style="color:#000;">Car and driver is available in the campus for emergency
                                        services. On call vehicles are also made available for any personal planned
                                        travels like airport pickup and drop, picnic etc.</p>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Yoga for relaxation</h4>
                                    <p style="color:#000;">A place for Yoga is provided. A yoga trainer will visit
                                        occasionally.</p>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Latest Medical Care</h4>
                                    <p style="color:#000;">Daily visit by a doctor is arranged. Soukhya has signed MoU
                                        with two multi speciality hospitals. One can reach the hospitals in 15 minutes
                                        by car.</p>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Assisted Living Support</h4>
                                    <p style="color:#000;">Soukhya will arrange full time assistance for the needy
                                        inmates.</p>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Full time caretaker</h4>
                                    <p style="color:#000;">Caretaker is residing inside the campus for making their
                                        service alwaysavailable.</p>
                                </div>


                                <div class="col-12 about-right-txt">
                                    <h4>Car parking and guest apartment</h4>
                                    <p style="color:#000;">Separate car parking for residents, visitors and guest
                                        apartments will be provided</p>
                                </div>

                                <div class="col-12 about-right-txt">
                                    <h4>Entertainments</h4>
                                    <p style="color:#000;">Facilities for indoor and outdoor games and a library with
                                        reading room will be provided. Mini theatre for TV is arranged and Free wifi in
                                        rooms will be provided</p>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    {% include footer.html %}
    {% include scripts.html %}

</body>

</html>