<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include nav.html %}
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs-glry" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Gallery</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Gallery</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

 	
	  
  <!-- ============= Portfolio section Start ============= -->
 <section id="gallery">
  <div class="container">
    <div id="image-gallery">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal1.jpg"><img src="/assets/img/portfolio/gal1.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal2.jpg"><img src="/assets/img/portfolio/gal2.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal21.jpg"><img src="/assets/img/portfolio/gal21.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal20.jpg"><img src="/assets/img/portfolio/gal20.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal5.jpg"><img src="/assets/img/portfolio/gal5.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal6.jpg"><img src="/assets/img/portfolio/gal6.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal22.jpg"><img src="/assets/img/portfolio/gal22.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal8.jpg"><img src="/assets/img/portfolio/gal8.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
		
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal9.jpg"><img src="/assets/img/portfolio/gal9.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
		
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal10.jpg"><img src="/assets/img/portfolio/gal10.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
		
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal11.jpg"><img src="/assets/img/portfolio/gal11.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
		
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal12.jpg"><img src="/assets/img/portfolio/gal12.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal28.jpg"><img src="/assets/img/portfolio/gal28.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal29.jpg"><img src="/assets/img/portfolio/gal29.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal30.jpg"><img src="/assets/img/portfolio/gal30.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal31.jpg"><img src="/assets/img/portfolio/gal31.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
         <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal27.jpg"><img src="/assets/img/portfolio/gal27.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
        
         <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
          <div class="img-wrapper">
            <a href="/assets/img/portfolio/gal26.jpg"><img src="/assets/img/portfolio/gal26.jpg" class="img-responsive"></a>
            <div class="img-overlay">
              <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/Soukhya_homes_gallery (16).jpg"><img src="/assets/img/Soukhya_homes_gallery (16).jpg" class="img-responsive"></a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/Soukhya_homes_gallery (9).jpg"><img src="/assets/img/portfolio/Soukhya_homes_gallery (9).jpg" class="img-responsive"></a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/hut_SH.jpg"><img src="/assets/img/portfolio/hut_SH.jpg" class="img-responsive"></a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>

         

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/Pink_SH.jpg"><img src="/assets/img/portfolio/Pink_SH.jpg" class="img-responsive"></a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/Play_area_SH.jpg"><img src="/assets/img/portfolio/Play_area_SH.jpg" class="img-responsive"></a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/cele_SH.jpg"><img src="/assets/img/portfolio/cele_SH.jpg" style="width: 350px; height: 200px;"class="img-responsive"></a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/Meet_SH.jpg"><img src="/assets/img/portfolio/Meet_SH.jpg" style="width: 350px; height: 200px;"class="img-responsive"></a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/flower_SH.jpg"><img src="/assets/img/portfolio/flower_SH.jpg" style="width: 350px; height: 200px;"class="img-responsive"></a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
  

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/Pinkk_SH.jpg"><img src="/assets/img/portfolio/Pinkk_SH.jpg" style="width: 350px; height: 200px;"class="img-responsive"></a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/gallery 9.jpg">
                <img src="/assets/img/portfolio/gallery 9.jpg" style="width: 350px; height: 200px;"class="img-responsive">
              </a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <br>
          <br>
          
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/gallery 13.jpg">
                <img src="/assets/img/portfolio/gallery 13.jpg" style="width: 350px; height: 200px;"class="img-responsive">
              </a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/gallery 14.jpg">
                <img src="/assets/img/portfolio/gallery 14.jpg" style="width: 350px; height: 200px;"class="img-responsive">
              </a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/gallery 15.jpg">
                <img src="/assets/img/portfolio/gallery 15.jpg" style="width: 350px; height: 200px;"class="img-responsive">
              </a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/gallery 16.jpg">
                <img src="/assets/img/portfolio/gallery 16.jpg" style="width: 350px; height: 200px;"class="img-responsive">
              </a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/gallery 17.jpg">
                <img src="/assets/img/portfolio/gallery 17.jpg" style="width: 350px; height: 200px;"class="img-responsive">
              </a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/gallery 21.jpg">
                <img src="/assets/img/portfolio/gallery 21.jpg" style="width: 350px; height: 200px;"class="img-responsive">
              </a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          
          <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 image">
            <div class="img-wrapper">
              <a href="/assets/img/portfolio/sdown.jpg">
                <img src="/assets/img/portfolio/sdown.jpg" style="width: 350px; height: 200px;"class="img-responsive">
              </a>
              <div class="img-overlay">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          
	  
	  <!-- End row -->
    </div><!-- End image gallery -->
  </div><!-- End container --> 
</section>


	<!-- ============= Portfolio section End ============= -->

  
    
   <!-- ============= Footer section ============= -->

   {% include footer.html %}
   {% include scripts.html %}

   <!-- Page level scripts -->
		
		<script>
		// Gallery image hover
$( ".img-wrapper" ).hover(
  function() {
    $(this).find(".img-overlay").animate({opacity: 1}, 600);
  }, function() {
    $(this).find(".img-overlay").animate({opacity: 0}, 600);
  }
);

// Lightbox
var $overlay = $('<div id="overlay"></div>');
var $image = $("<img>");
var $prevButton = $('<div id="prevButton"><i class="fa fa-chevron-left"></i></div>');
var $nextButton = $('<div id="nextButton"><i class="fa fa-chevron-right"></i></div>');
var $exitButton = $('<div id="exitButton"><i class="fa fa-times"></i></div>');

// Add overlay
$overlay.append($image).prepend($prevButton).append($nextButton).append($exitButton);
$("#gallery").append($overlay);

// Hide overlay on default
$overlay.hide();

// When an image is clicked
$(".img-overlay").click(function(event) {
  // Prevents default behavior
  event.preventDefault();
  // Adds href attribute to variable
  var imageLocation = $(this).prev().attr("href");
  // Add the image src to $image
  $image.attr("src", imageLocation);
  // Fade in the overlay
  $overlay.fadeIn("slow");
});

// When the overlay is clicked
$overlay.click(function() {
  // Fade out the overlay
  $(this).fadeOut("slow");
});

// When next button is clicked
$nextButton.click(function(event) {
  // Hide the current image
  $("#overlay img").hide();
  // Overlay image location
  var $currentImgSrc = $("#overlay img").attr("src");
  // Image with matching location of the overlay image
  var $currentImg = $('#image-gallery img[src="' + $currentImgSrc + '"]');
  // Finds the next image
  var $nextImg = $($currentImg.closest(".image").next().find("img"));
  // All of the images in the gallery
  var $images = $("#image-gallery img");
  // If there is a next image
  if ($nextImg.length > 0) { 
    // Fade in the next image
    $("#overlay img").attr("src", $nextImg.attr("src")).fadeIn(800);
  } else {
    // Otherwise fade in the first image
    $("#overlay img").attr("src", $($images[0]).attr("src")).fadeIn(800);
  }
  // Prevents overlay from being hidden
  event.stopPropagation();
});

// When previous button is clicked
$prevButton.click(function(event) {
  // Hide the current image
  $("#overlay img").hide();
  // Overlay image location
  var $currentImgSrc = $("#overlay img").attr("src");
  // Image with matching location of the overlay image
  var $currentImg = $('#image-gallery img[src="' + $currentImgSrc + '"]');
  // Finds the next image
  var $nextImg = $($currentImg.closest(".image").prev().find("img"));
  // Fade in the next image
  $("#overlay img").attr("src", $nextImg.attr("src")).fadeIn(800);
  // Prevents overlay from being hidden
  event.stopPropagation();
});

// When the exit button is clicked
$exitButton.click(function() {
  // Fade out the overlay
  $("#overlay").fadeOut("slow");
});
		</script>
		
		<!-- Page level scripts end -->
  
  

</body>
</html>