<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include nav.html %}
    <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel"
        data-pause="hover" data-interval="false">

        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
            <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper For Slides -->
        <div class="carousel-inner" role="listbox">

            <!-- Third Slide -->
            <div class="item active">

                <!-- Slide Background -->
                <img src="/assets/img/slider/1banner1.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
                <div class="bs-slider-overlay"></div>

                <div class="container">
                    <div class="row">
                        <!-- Slide Text Layer -->
                        <div class="slide-text slide_style_left">
                            <h1 data-animation="animated zoomInRight">Luxury Community Living for Senior Citizens</h1>
                            <p data-animation="animated fadeInLeft">We take pride in taking care of people</p>
                            <a href="about.html" class="btn btn-default" data-animation="animated fadeInLeft">About
                                Us</a>
                            <a href="#" class="btn btn-primary"="#" data-toggle="modal" data-target="#modal-social"
                                data-animation="animated fadeInRight">Enquire Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Slide -->

            <!-- Second Slide -->
            <div class="item">

                <!-- Slide Background -->
                <img src="/assets/img/slider/1banner2.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
                <div class="bs-slider-overlay"></div>
                <!-- Slide Text Layer -->
                <div class="slide-text slide_style_center">
                    <h1 data-animation="animated flipInX">Luxury Community Living for Senior Citizens</h1>
                    <p data-animation="animated lightSpeedIn">We take pride in taking care of people</p>
                    <a href="about.html" class="btn btn-default" data-animation="animated fadeInLeft">About Us</a>
                    <a href="#" class="btn btn-primary"="#" data-toggle="modal" data-target="#modal-social"
                        data-animation="animated fadeInRight">Enquire Now</a>
                </div>
            </div>
            <!-- End of Slide -->

            <!-- Third Slide -->
            <div class="item">

                <!-- Slide Background -->
                <img src="/assets/img/slider/1banner3.jpg" alt="Bootstrap Touch Slider" class="slide-image" />
                <div class="bs-slider-overlay"></div>
                <!-- Slide Text Layer -->
                <div class="slide-text slide_style_right">
                    <h1 data-animation="animated zoomInLeft">Luxury Community Living for Senior Citizens</h1>
                    <p data-animation="animated fadeInRight">Home Facilities, Medicinal and safety services</p>
                    <a href="about.php" class="btn btn-default" data-animation="animated fadeInLeft">About Us</a>
                    <a href="#" class="btn btn-primary"="#" data-toggle="modal" data-target="#modal-social"
                        data-animation="animated fadeInRight">Enquire Now</a>
                </div>
            </div>
            <!-- End of Slide -->


        </div><!-- End of Wrapper For Slides -->

        <!-- Left Control -->
        <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
            <span class="fa fa-angle-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>

        <!-- Right Control -->
        <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
            <span class="fa fa-angle-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div> <!-- End  bootstrap-touch-slider Slider -->


    <!-- /.============= Carousel Slider End =============-->

    <!-- ============= Services section start ============= -->

    <section id="services">
        <div class="container text-center">
            <div class="heading wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                <h4>Welcome to Soukhya Homes</h4>
                <h1><span>We make a Difference </span> in your lives</h1>
                <!--<p style="font-style:italic; color:green;">'Forty is the old age of youth and fifty is the youth of old age.' - <b>Hosea Ballou</b></p>-->
                <p>COMMUNITY LIVING FOR SENIOR CITIZEN Retirement is the beginning of a new phase in life aiming at
                    serene, calm and peaceful atmosphere. In soukhya villas it is envisaged to develop community living
                    for senior citizens with all luxury and safety measures. </p>

            </div>

            <div class="container">
                <div class="row" id="mision-box">

                    <!--<div class="col-md-6 col-sm-6 col-xs-12">
              <div class="abt-left-box">
              <h3>Our Vision</h3>
                  <ul>
                      <li>To enrich the lives of the residents with contentment, self-esteem and fulfillment.</li>
                      <li>To create a healthy community living, by maintaining geriatric-friendly infrastructure and services at par with international standards.</li>
                      <li>To create an environment of companionship among residents through community living, with people of similar wave lengths.</li>
                      <li>To ensure the satisfaction and well-being of the residents, through the best possible services rendered by our personnel.</li>
                  </ul>
              </div>
            </div>
            
          
            <div class="col-md-6 col-sm-6 col-xs-12">
              <div class="abt-right-box">
                  <h3>Our Mission</h3>
                  <ul>
                      <li>To create a sustainable and affordable ecosystem, for the elderly.</li>
                      <li>To provide day to day support, in a serene and eco-friendly environment.</li>
                      <li>To improve the quality of their lives, by providing timely health check-ups, nutritious food and a natural environment with a sustainable lifestyle.</li>
                      <li>To make their lives safe and sound by offering Geriatric friendly and well-furnished apartments.</li>
                      <li>To ensure the satisfaction and well-being of the residents, through the best possible services rendered by our personnel.</li>
                      
                  </ul>
              </div>
            </div>-->
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="main">
                            <div class="service">
                                <div class="service-logo">
                                    <img src="/assets/img/icon-1.png">
                                </div>
                                <h4>Amazing Atmosphere </h4>
                                <p>Situated in the middle of a panoramic surrounding. Calm ambience with singing of
                                    birds, fruit trees, green natural lawn and also with a big pond having full of fancy
                                    fishes. </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="main">
                            <div class="service">
                                <div class="service-logo">
                                    <img src="/assets/img/icon-2.png">
                                </div>
                                <h4>Latest Medical Care</h4>
                                <p>Daily visit of a doctor is arranged. Soukhya has signed MOU with two multi-speciality
                                    hospitals. The residents can reach the hospitals in 15 minutes by car.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="main">
                            <div class="service">
                                <div class="service-logo">
                                    <img src="/assets/img/icon-3.png">
                                </div>
                                <h4>Vehicle & Driver </h4>
                                <p>Car and driver is available in the campus for emergency services, 24 x 7. Also made
                                    available for any personal planned travels like airport pickup and drop, picnic etc.
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="main">
                            <div class="service">
                                <div class="service-logo">
                                    <img src="/assets/img/icon-4.png">
                                </div>
                                <h4>Yoga for Relaxation</h4>
                                <p>Yoga performing place is provided. A yoga trainer will visit occasionally. </p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="main">
                            <div class="service">
                                <div class="service-logo">
                                    <img src="/assets/img/icon-5.png">
                                </div>
                                <h4>Assisted Living Support</h4>
                                <p>Soukhya will arrange full time assistance for the needy inmates.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="main">
                            <div class="service">
                                <div class="service-logo">
                                    <img src="/assets/img/icon-6.png">
                                </div>
                                <h4>Fulltime Caretaker</h4>
                                <p>Caretaker is residing inside the campus for making their service available always.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </section>

    <!-- ============= Services section end ============= -->


    <!-- ============= About section Start ============= -->



    <section id="about-us">
        <div class="container-fluid">
            <div class="row">
                <div class=" col-md-6 col-sm-6 col-xs-12">
                    <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <img src="/assets/img/2smiles.jpg">
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="about-right">
                        <div class="row wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <h4>Soukhya Retirement Living</h4>
                            <h2><span>Expert Care</span> of the Elderly</h2>
                            <p>RETIREMENT LIFE is the dawn of a new era for everyone. It is the phase of life to
                                blissfully enjoy life’s pleasures without the pressure of responsibilities. But for
                                many, it often winds up as a life of solitude and isolation. With children happily
                                settled in their careers at faraway lands and friends of our yester years too far from
                                reach, life becomes too secluded and lonely for elders. Many wishes and dreams yet to be
                                fulfilled remain unattainable due to the lack of physical support or their age related
                                health issues. Another major issue faced by the elderly today is security and safety as
                                they are easy targets to criminals on the prowl. Life is all the more difficult if you
                                are an elderly single without a companion. In short, the quality of life many of our
                                elders are living today is miserable and tedious and they deserve better.</p>
                            <p>The idea of SOUKHYA VILLAs bloomed from these thoughts. This wonderful, luxurious elderly
                                living facility is designed like a resort and is located near Kothamangalam in Ernakulam
                                District, away from the maddening crowd of the city. Nestled beside a natural stream
                                with panoramic scenic nature, it transports its residents to a realm of beauty and
                                serenity. Additionally, airport and Kochi city are just 45 minutes’ drive from this
                                location. It is also the perfect opportunity for the Non-resident Keralites who wish to
                                make a second home in God’s own Country, to experience all its glory post their
                                retirement. </p>
                            <p>Accommodation is provided in Luxury Studio Apartments / Villas with fully furnished
                                air-conditioned bedroom with twin bed, furnished drawing room and kitchenette with
                                refrigerator, microwave oven and kettle, toilet with hot water and grab bar and balcony
                                with full view of luscious greenery.</p>
                            <p>Fully landscaped yard with walkway, an organic fruit garden, fish pond, separate parking
                                area for residents and visitors, restaurant like dining area and food of your choice,
                                well equipped fitness centre with separate zone for yoga and meditation, library &
                                reading room, indoor and outdoor game zones, doctor & clinic, ayurveda wellness centre,
                                gossip zone, laundry services and round the clock security. </p>

                        </div>

                        <!--<div class="row abt-btm wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                          <div class="col-sm-6 about-right-txt">
                              <h4><span><i class='fas fa-cannabis'></i></span> Daycare Facility</h4>
                              <p>Donec nec justo eget felis facilisis ferme ntum. Aliquam porttitor mauris sit amet orci. Aenean</p>
                          </div>
                          
                          <div class="col-sm-6 about-right-txt">
                              <h4><span><i class='fas fa-briefcase-medical'></i></span> Energy Charges</h4>
                              <p>Donec nec justo eget felis facilisis ferme ntum. Aliquam porttitor mauris sit amet orci. Aenean</p>
                          </div>
                          
                          <div class="col-sm-6 about-right-txt">
                              <h4><span><i class='fas fa-wheelchair'></i></span> Laundry Service</h4>
                              <p>Donec nec justo eget felis facilisis ferme ntum. Aliquam porttitor mauris sit amet orci. Aenean</p>
                          </div>
                          
                          <div class="col-sm-6 about-right-txt">
                              <h4><span><i class='fas fa-seedling'></i></span> Ayurveda Wellness centre</h4>
                              <p>Donec nec justo eget felis facilisis ferme ntum. Aliquam porttitor mauris sit amet orci. Aenean</p>
                          </div>
                          
                      </div>-->
                    </div>
                </div>

                <div class="col-12 about-right">
                    <div class="row wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms"
                        style="margin:0 2% 0% 2%;">

                        <p>Additional facilities like guest house for visitors, car with driver, on-call ambulance,
                            tie-ups with major hospitals, lab and pharmacy support, nursing and wheel chair support,
                            hospitalization, pick up and drop, travel & ticketing, treasury services, banking, purchases
                            and shopping, sight-seeing, temple / church visits, regular entertainment programs and much
                            more. </p>
                        <p>SOUKHYA VILLAs can be made your HOME or ALTERNATE HOME and be your key to living the most
                            heavenly retirement life without even buying the property. Residents are chosen on the basis
                            of a lifelong Membership program. There will be a returnable Onetime Security Deposit and
                            nominal Monthly charges. </p>
                        <p>Through this program, members can stay here for their whole life time. There will also be an
                            option for terminating the agreement in case any resident decides to discontinue the
                            facility during their tenure. </p>


                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>

    <!-- ============= About section End ============= -->

    <!-- ============= Contact section Start ============= -->

    <section id="contact" class="parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row col-sm-8 col-sm-offset-2 wow fadeInRight" data-wow-duration="1000ms"
                        data-wow-delay="300ms">
                        <h4>Want to know more ?</h4>
                        <h2>Clarify your queries</h2>
                        <!--<div class="row" style="color:#333;">
                          <div class="col-12 info mt-4 mt-lg-0">
                          
                            <h4>Email:</h4>
                            <p>soukhyahomes@gmail.com</p>
                            <p>info@avcados.org <b>(Marketing)</b></p>
                          </div>
          
                          <div class="col-12 info mt-4 mt-lg-0">
                            
                            <h4>Call:</h4>
                            <p>+91 9447218356<br>+91 9446843367</p>
                            <p>+91 7736267930 <b>(Marketing)</b><br>+91 7736267931 <b>(Marketing)</b></p>
                          </div>
                          </div>-->

                        <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                            <div class="row">
                                <div class="col-12">
                                    <form id="main-contact-form" name="contact-form" method="post" action="#">
                                        <div class="row  wow fadeInUp" data-wow-duration="1000ms"
                                            data-wow-delay="300ms">

                                            <div class="col-sm-10 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" name="name" class="form-control"
                                                        placeholder="Name" required="required">
                                                </div>
                                            </div>

                                            <div class="col-sm-10 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" name="phone" class="form-control"
                                                        placeholder="Phone" required="required">
                                                </div>
                                            </div>

                                            <div class="col-sm-10 col-xs-12">
                                                <div class="form-group">
                                                    <input type="email" name="email" class="form-control"
                                                        placeholder="Email" required="required">
                                                </div>
                                            </div>
                                            <div class="col-sm-10 col-xs-12">
                                                <div class="form-group">
                                                    <input type="text" name="subject" class="form-control"
                                                        placeholder="Subject" required="required">
                                                </div>
                                            </div>

                                            <div class="col-sm-10 col-xs-12">
                                                <div class="form-group">
                                                    <textarea name="message" id="message" class="form-control" rows="4"
                                                        placeholder="Comments" required="required"></textarea>
                                                </div>
                                            </div>

                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <button type="submit" class="btn-submit">Send Now</button>
                                                </div>
                                            </div>

                                        </div>

                                    </form>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
    <!--/#twitter-->

    <!-- ============= Contact section End ============= -->



    <!--/#about-us-->

    <section id="portfolio">
        <div class="container">
            <div class="row">

            </div>
        </div>
        <div class="container-fluid">

            <div class="row">

                <div class="col-12 text-center ft-img">
                    <img src="/assets/img/bg3.png">

                </div>

                <!-- <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                      <div class="folio-image">
                        <img class="img-responsive" src="/assets/img/portfolio/gal1.jpg" alt="">
                      </div>
                      <div class="overlay">
                        <div class="overlay-content">
                          <div class="overlay-text">
                            <div class="folio-info">
                              
                                             </div>
                            <div class="folio-overview">
                              <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                              <span class="folio-expand"><a href="/assets/img/portfolio/gal1.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   </div>
                   
                   <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                      <div class="folio-image">
                        <img class="img-responsive" src="/assets/img/portfolio/gal25.jpg" alt="">
                      </div>
                     <div class="overlay">
                         <div class="overlay-content">
                          <div class="overlay-text">
                            <div class="folio-info">
                              
                                              </div>
                           <div class="folio-overview">
                              <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                              <span class="folio-expand"><a href="/assets/img/portfolio/gal2.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                   </div>
                   
                   <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                      <div class="folio-image">
                        <img class="img-responsive" src="/assets/img/portfolio/gal4.jpg" alt="">
                      </div>
                       <div class="overlay">
                        <div class="overlay-content">
                          <div class="overlay-text">
                            <div class="folio-info">
                              
                                              </div>
                           <div class="folio-overview">
                              <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                              <span class="folio-expand"><a href="/assets/img/portfolio/gal4.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-3 col-xs-12">
                     <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                      <div class="folio-image">
                        <img class="img-responsive" src="/assets/img/portfolio/ga120.jpg" alt="">
                      </div>
                      <div class="overlay">
                        <div class="overlay-content">
                          <div class="overlay-text">
                            <div class="folio-info">
                              
                                              </div>
                            <div class="folio-overview">
                              <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                              <span class="folio-expand"><a href="/assets/img/portfolio/gal3.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                   
                   <div class="col-md-3 col-sm-3 col-xs-12">
                     <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                      <div class="folio-image">
                        <img class="img-responsive" src="/assets/img/portfolio/gal10.jpg" alt="">
                      </div>
                      <div class="overlay">
                        <div class="overlay-content">
                          <div class="overlay-text">
                            <div class="folio-info">
                              
                              
                            </div>
                            <div class="folio-overview">
                              <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                              <span class="folio-expand"><a href="/assets/img/portfolio/gal10.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                   
                   <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                      <div class="folio-image">
                        <img class="img-responsive" src="/assets/img/portfolio/gal11.jpg" alt="">
                      </div>
                      <div class="overlay">
                        <div class="overlay-content">
                          <div class="overlay-text">
                            <div class="folio-info">
                              
                              
                            </div>
                            <div class="folio-overview">
                              <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                              <span class="folio-expand"><a href="/assets/img/portfolio/gal11.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    
                    <div class="col-md-3 col-sm-3 col-xs-12">
                     <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                      <div class="folio-image">
                        <img class="img-responsive" src="/assets/img/portfolio/ga121.jpg" alt="">
                      </div>
                     <div class="overlay">
                        <div class="overlay-content">
                          <div class="overlay-text">
                            <div class="folio-info">
                              
                              
                            </div>
                            <div class="folio-overview">
                              <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                              <span class="folio-expand"><a href="/assets/img/portfolio/gal5.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                   
                    <div class="col-md-3 col-sm-3 col-xs-12">
                     <div class="folio-item wow fadeInRightBig" data-wow-duration="1000ms" data-wow-delay="300ms">
                      <div class="folio-image">
                        <img class="img-responsive" src="/assets/img/portfolio/gal8.jpg" alt="">
                      </div>
                       <div class="overlay">
                        <div class="overlay-content">
                          <div class="overlay-text">
                            <div class="folio-info">
                              
                              
                            </div>
                           <div class="folio-overview">
                              <span class="folio-link"><a class="folio-read-more" href="#" data-single_url="portfolio-single.html" ><i class="fa fa-link"></i></a></span>
                              <span class="folio-expand"><a href="/assets/img/portfolio/gal8.jpg" data-lightbox="portfolio"><i class="fa fa-search-plus"></i></a></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>-->



            </div>
        </div>
        <div id="portfolio-single-wrap">
            <div id="portfolio-single">
            </div>
        </div><!-- /#portfolio-single-wrap -->
    </section>

    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>
