<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    {% include nav.html %}
 
		<!-- Header -->
		
		<?php include_once("includes/header.php"); ?>
		
		<!-- Header end -->


    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs-fclty" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Infrastructure</h2>
          <ol>
            <li><a href="index.php">Home</a></li>
            <li>Infrastructure</li>
          </ol>
        </div>

      </div>
    </section>
	
	<!-- End Breadcrumbs -->

 
 <section id="about-us">
    <div class="container-fluid">
      <div class="row">
        <div class=" col-md-6 col-sm-6 col-xs-12">
          <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms"></div>
        </div>
      </div>
      </div>
    </div>
  </section>
  
   <!-- ============= About section End ============= -->
   
    <!-- ======= Features Section ======= -->
	
    <section id="features" class="features">
      <div class="container about-right">
			<div class="row wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="300ms">
				<h4>Soukhya Retirement Living</h4>
				<h2><span>Infrastructure </span> In VILLAS & SUITS</h2>
            </div>

        <div class="row">
          <div class="col-lg-4 mb-5 mb-lg-0" data-aos="fade-right">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item  mt-2">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                  <h4>Fully furnished air conditioned bed room with twin bed.</h4>
                 
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4>Furnished drawing room. </h4>
                  
                </a>
              </li>
			  
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4>Kitchenette with refrigerator, <br>microwave oven & kettle.</h4>
                 
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                  <h4>Toilet with hot water and grab bar. </h4>
                 
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-5">
                  <h4>Balcony with view of full greenery.  </h4>
                 
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-7 ml-auto" data-aos="fade-left" data-aos-delay="100">
            <div class="tab-content">
              <div class="tab-pane active" id="tab-1">
                <figure>
                  <img src="/assets/img/portfolio/gal11.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-2">
                <figure>
                  <img src="/assets/img/portfolio/gal10.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-3">
                <figure>
                  <img src="/assets/img/portfolio/gal90.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-4">
                <figure>
                  <img src="/assets/img/portfolio/gal90.jpg" alt="" class="img-fluid">
                </figure>
              </div>
              <div class="tab-pane" id="tab-5">
                <figure>
                  <img src="/assets/img/portfolio/gal90.jpg" alt="" class="img-fluid">
                </figure>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
   
   <section id="team" class="team section-bg">
      <div class="container" style="background-color: #f2f2f2;">

         <div class="row" style="padding:5px;">

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch"  style="padding:5px; margin-top:5px;">
		  
            <div class="member" data-aos="fade-up">
              
              <div class="member-info">
                <h4>KITCHEN </h4>
                <span>A modern open kitchen is provided in the main building. Participatory cooking is appreciated. Inmates can select food, from the choices provided on a daily basis. </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="padding:5px; margin-top:5px;">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
             
              <div class="member-info">
                <h4>DINING AREA</h4>
                <span>Restaurant like dining area is provided near the kitchen. Very good ambience for socializing along with food.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="padding:5px; margin-top:5px;">
            <div class="member" data-aos="fade-up" data-aos-delay="200" >
             
              <div class="member-info">
                <h4>FITNESS CENTER </h4>
                <span>A well equipped fitness center is available with separate space for yoga and meditation </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="padding:5px; margin-top:5px;">
            <div class="member" data-aos="fade-up" data-aos-delay="300">
              
              <div class="member-info">
                <h4>LIBRARY & READING ROOM</h4>
                <span>A well maintained library caters to the reading habits of inmates. News papers & periodicals are also available for casual reading</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="padding:5px; margin-top:5px;">
            <div class="member" data-aos="fade-up" data-aos-delay="400">
              
              <div class="member-info">
                <h4>GAME FACILITY</h4>
                <span>A few indoor / outdoor games are made available for the effective use of time.</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="padding:5px; margin-top:5px;">
            <div class="member" data-aos="fade-up" data-aos-delay="500">
              
              <div class="member-info">
                <h4>WALKWAY </h4>
                <span>Walkway is provided throughout the compound. Walking for exercise is possible inside the fruit garden also. </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="padding:5px; margin-top:5px;">
            <div class="member" data-aos="fade-up" data-aos-delay="600">
              
              <div class="member-info">
                <h4>FRUIT GARDEN</h4>
                <span>Residents can enjoy a variety of healthy fruits from the organic  fruit garden. It provides a serene, peaceful ambience for a morning walk and for spending evening time leisurely. </span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" style="padding:5px; margin-top:5px;">
            <div class="member" data-aos="fade-up" data-aos-delay="700">
              
              <div class="member-info">
                <h4>FULL TIME CARETAKER</h4>
                <span>Trained caretakers are residing in campus and are available round the clock.</span>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>
   
   <!-- Additional facilities End -->
   
   {% include footer.html %}
   {% include scripts.html %}
</body>
</html>